.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.heroSection {
  position: relative;
  background-color: #000;
}

.contentSection {
  background-color: #000;
}



